* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4285f499;
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
}

fieldset {
    padding-left: 30px;
    border-radius: 4px;
}

fieldset {
    border: 2px solid #4285F4;
}

input, textarea {
    font-weight: 530;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid  #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid #4285F4;
}

.fieldset-1 {
    margin: 0 auto;
    width: 700px;
    display: block;
}

legend, .select-gender {
    font-size: 30px;
    margin-bottom: 20px;
}

.fieldset-1 label, input {
    margin-bottom: 25px;
}

.fieldset-1 input {
    padding: 10px 20px;
    border-radius: 4px;
}

label, span.b-info {
    font-weight: normal;
}

label[for="name"] {
    margin-right: 1.24rem;
}

label[for="mail"] {
    margin-right: 1.3625rem;
}

label[for="Number"] {
    margin-right: -0.1rem;
}

input[type="radio"]:hover, #gender:hover {
    cursor: pointer;
}

.fieldset-2 {
    margin: 0 auto;
    width: 700px;
    padding-bottom: 20px;
}

textarea {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    overflow: auto;
}

button {
    display: block;
    padding: 10px 15px;
    width: 100px;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 2rem;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: #4285f4;
    color: #fff;
}

.confirmation-btns {
    max-width: 48rem;
    margin: 0 auto 1rem;
    display: none;
}

#details-check {
    max-width: 48rem;
    display: none;
    border: 1px solid #fff;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    word-wrap: break-word;
    margin: -2rem auto 3rem;
}

#details-check h2 {
    color: #4285f4;
    margin-bottom: 2rem;
}

#details-check span {
    font-size: 19px;
    font-weight: normal;
}




/* Responsive Design */

@media (max-width: 880px) {

    #details-check, .confirmation-btns {
        max-width: 38rem;
    }
}

@media (max-width: 800px) {
    
    .fieldset-1, .fieldset-2    {
        max-width: 500px;
    }

    textarea {
        max-width: 436px;
    }
}

@media (max-width: 700px) {

    #details-check  {
        max-width: 100%;
        margin: -1rem 2rem 3rem;
        border-radius: 0%;
    }

    .confirmation-btns {
        max-width: 100%;
    }
}

@media (max-width: 580px) {
    
    body {
        font-size: 22px;
    }

    .fieldset-1, .fieldset-2    {
        max-width: 400px;
    }

    legend, .select-gender {
        font-size: 26px;
    }

    textarea {
        max-width: 338px;
    }

    .head {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 465px) {
    
    body {
        font-size: 19px;
    }

    .fieldset-1, .fieldset-2    {
        max-width: 300px;
    }

    legend, .select-gender {
        font-size: 22px;
    }

    textarea {
        max-width: 238px;
    }

    .head {
        font-size: 25px;
    }

    .head span {
        padding: 0 20px;
    }
    
    input {
        margin-top: 0.5rem;
    }

    .select-gender {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 340px) {

    body {
        font-size: 17px;
    }

    .fieldset-1, .fieldset-2    {
        max-width: 250px;
    }

   input {
        max-width: 200px;
   }

    textarea {
        max-width: 188px;
    }

    legend, .select-gender {
        font-size: 19px;
    }
}